
$primary-color         : #FF6C00;  /*Основной цвет сайта, используется для кнопок и рамочек */
$secondary-color       : #191C26;
$text-primary          : #303030;
$text-secondary        : #9DA4BD;
$text-primary-lighten  :    #555;