body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    color: #fff;
}
*{
    box-sizing: border-box;
    list-style-type: none;
}
header{
    text-align: center;
}

section{
    width: 100%;
    height: max-content;
    padding: 50px;
    background-color: #00a6ff;
    display: flex;
    justify-content: space-around;
    transform: ;
}
a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}


.form-box input{
    display: block;
    margin-bottom: 20px;
}

label[for="file"]{
    width: 20px;
    height: 20px;
    display: block;
    background-color: navy;
}

input[type='file']{
    visibility: hidden;
}
.text-label{
    position: relative;
}
.text-label:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -100px;
    left: -100px;
    background-color: #000;
}


textarea{
    resize:none;
}